# Temporary
Make

# Intermediary files
bin/
bin-int/

# VS Code files
.vscode/

# Visual Studio files
.vs/
*.user
*.filters
*.sln
*.suo
*.vcxproj
*_i.c
*_p.c
*.ilk
*.pdb
*.idb
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
